main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {display: flex;}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
}

.form__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;
}

#remember {
    color: #1F1F1F !important;
    font-family: Inter !important;
    font-size: 1.125rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

h1, h2 {text-align: center;}

h2 {
    color: #1F1F1F;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08rem;
}

.cartelitoRojo {
    width: 6.43719rem;
    height: 2.44138rem;
    flex-shrink: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    font-size: var(--font-xsmall);
    padding: var(--spacing-8) var(--spacing-12);
}