/* CSS en el archivo styles.css */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section, #resumenColumna, .encabezadoCarrito {
    background: #FAFAFF;
    border: 1px solid #ccc;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

.columna {
    width: 200px !important;
}

#resumenColumna {
    padding: 1.5rem;
    gap: 1.25rem;
}

#carrito {
    width: 100%;
}

/* Estilos generales para el contenedor del carrito */
.encabezadoCarrito {
    display: flex;
    width: 1000px;
    height: 3.1875rem;
    flex-shrink: 0;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
}

/* Estilos generales para los productos en el carrito */
.productoCarrito {
    display: flex;
    width: 1000px;
    height: 12.0625rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

/* Estilos para la imagen del producto */
.productoCarrito .columna1 img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

/* Estilos para la descripción del producto */
.descripcionProductoCarrito {
  text-align: center;
}

/* Estilos para el input de cantidad */
.productoCantidad .quantityInput {
  width: 50px;
  text-align: center;
}

/* Estilos para el total del producto */
.productoTotal .total-cell {
  font-weight: bold;
}

/* Estilos para el icono de eliminar producto */
.productoEliminar .itemEliminator {
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}


.productoInfo {
    display: flex;
    align-items: center;
}

.productoInfo img {
    max-width: 100px;
    margin-right: 20px;
}

.productoCantidad input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
}

.productoTotal {
    font-weight: bold;
    font-size: 1.2rem;
}

.productoEliminar img {
    width: 20px;
    cursor: pointer;
}

/*RESUMEN*/

#resumenH2 {
    display: inline-flex;
    padding-bottom: 0px;
    align-items: center;
    gap: 0.625rem; border-bottom: 5px solid #F33;
    margin-bottom: 10px;
}

#resumen {
  padding: 1.5rem;
  align-items: flex-end;
  gap: 1.25rem;
  width: 40%; /* Tamaño del 30% del ancho de la pantalla */
  margin-left: auto; /* Alinea a la derecha de la pantalla */
}

#resumenColumna {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los párrafos */
}

.resumenElemento {
  display: flex;
  justify-content: space-between; /* Divide el contenido en dos columnas */
  align-items: center;
}

#botonPagar {
    background: #FF3333;
    color: #FAFAFF;
    width: 100%; /* Ocupar todo el ancho disponible */
    padding: 10px; /* Espaciado interno para el botón */
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

#botonPagar:hover {
  background-color: darkred; /* Cambiar color de fondo en el hover */
}


