header, footer {
    width: auto;
    background-color: #30343F;
    color: #FFF;
}

header {
    height: 9rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link {
    color: #FFFFFF;
    font-weight: 500;
}

a:visited {
    color: #FFFFFF;

}

a:active {
    color: #FF4848;
}

a {text-decoration: none;}

.logoMenu{
    width: 25rem;
    height: auto;
    padding: 5rem 1.5rem;    
 }

li {
    display: flex; /* Establece el elemento <li> como flex */
    align-items: center; /* Alinea verticalmente los elementos dentro de <li> al centro */
}

ul li:hover {
    background-color: var(--primary-900);
}

.navbar__item {
    font-family: var(--alternative-font);
    color: var(--ligth-font-solid);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar__menu{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-20);   
}

.navbar__link {
    margin: 0;
    text-decoration: none;
    font-family: Raleway;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: normal;
    color: inherit;
    padding: var(--spacing-8) var(--spacing-16);
    display: flex;
    justify-content: space-between;
    transition: background-color .3s ease-in-out;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    width: 300px;
    z-index: 3;
}

.submenu__item {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
}

.submenu__link {
    display: inline;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

.menuHeader-link img{
    width: 1.7rem;
}

/* Estilo para el div redondo que muestra la cantidad en el carrito */
.noDisplay {
    display: none;
}

.carritoDibujo {
    height: 2.5rem
}

/* Estilo para el badge del carrito */
.cartBadge {
    position: absolute;
    background: #FF4848;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 90rem;
    text-align: center;
    font-size: .9rem;
    margin-left: 1.15rem;
    font-family: inter;
}

.contadorCarrito{
    position: absolute;
    background: #FF4848;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 90rem;
    text-align: center;
    font-size: .9rem;
    margin-left: 1.6rem;
    font-family: inter;
}

/*FOOTER*/

.footerUsuario{
    width: auto;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.navFooter a {
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: .7rem;
    margin-bottom: 0;
}

.logoFooter img{
    width: 6rem;
    margin-top: 1.5rem;
}

footer {
    height: 12rem;        
    flex-shrink:0;
    margin-top: 2rem;   
}

.copy {
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;    
}

@media screen and (max-width:768px){
    
    header { 
        width: auto;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
    }

    .logoMenu{
        width: 25rem;
        height: auto;
        padding: .6rem 1.5rem;
    }

    .menuHeader-link {
    font-size: 1rem;
    }

    .selectShop{
        font-size: 1rem;
    }

    footer{
        width: auto;
        height: 11rem;  
    }

    .footerUsuario{
        height: 8rem;
    }

    .navFooter a {    
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: .5rem;
    }

    .logoFooter img{
        width: 5rem;
        margin-top: .5rem;
    }

    footer p {
        font-size: .9rem;   
    }
}

@media screen and (max-width:480px) {
    
    .logoMenu{
        width: 20rem;
        height: auto;
        padding: .6rem 1.5rem;
    }

    .selectShop{
        font-size: .9em;
    }

    .menuHeader-link{
        font-size: .9em;
    }

    .menuHeader-link img{
        width: 2em;
    }

    footer {
        width: auto;
        height: 11rem;        
    }

    .footerUsuario{
        height: 8rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .navFooter a{
        margin-top: .3rem;
    }

    .logoFooter img{
        width: 3rem;
        margin-top: .5rem;
    }

    footer p {
        font-size: .9rem;   
    }
}
    
